@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_utilities.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
header{
   font-family: 'Bitter', serif;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  font-family: 'Bitter', serif;
}
@media only screen and (min-width: 768px) {
  .mobile-on{
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .padding-l-s{
    padding-left: 3em;
    padding-right: 2em;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-off {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .padding-l-s{
    padding-left: 1em;
    padding-right: 1em;
  }
}
.hoverable {
  cursor: pointer;
}
.image-circle{
  border-radius: 50%;
}
.top-border-card{
  border-top: 5px solid #60b8ea;
}
